### 1.	Write a Python program to find sum of elements in list?

In [7]:
def sum_lst(a):
    try:
        summ=0
        for i in range(len(a)):
            summ+=a[i]
        return summ
    except Exception as e:
        print('Error msg: {}'.format(e))

In [8]:
lst=[1,5,21,54,101,12]

In [9]:
sum_lst(lst)

194

### 2.	Write a Python program to  Multiply all numbers in the list?

In [4]:
def mul_lst(a):
    try:
        mul=1
        for i in range(len(a)):
            mul*=a[i]
        return mul
    except Exception as e:
        print('Error msg: {}'.format(e))

In [5]:
lst=[1,5,21,54,101,12]

In [6]:
mul_lst(lst)

6872040

### 3.	Write a Python program to find smallest number in a list?

In [10]:
def small_num(a):
    try:
        small=a[0]
        for i in range(len(a)):
            if small>a[i]:
                small=a[i]
        return small
    except Exception as e:
        print('Error msg: {}'.format(e))

In [13]:
lst=[5,21,54,1,-9,101,12]

In [14]:
small_num(lst)

-9

### 4.	Write a Python program to find largest number in a list?

In [15]:
def large_num(a):
    try:
        large=a[0]
        for i in range(len(a)):
            if large<a[i]:
                large=a[i]
        return large
    except Exception as e:
        print('Error msg: {}'.format(e))

In [16]:
lst=[5,21,54,1,-9,101,12]

In [17]:
large_num(lst)

101

### 5.	Write a Python program to find second largest number in a list?

In [20]:
def second_large_num(a):
    try:
        large=a[0]
        for i in range(len(a)):
            if large<a[i]:
                second_large=large
                large=a[i]
        return second_large
    except Exception as e:
        print('Error msg: {}'.format(e))

In [21]:
lst=[5,21,54,1,-9,101,12]

In [22]:
second_large_num(lst)

54

### 6.	Write a Python program to find N largest elements from a list?

In [26]:
def n_large_num(a,n):
    try:
        sort_num=[]
        for i in range(n):
            large=a[0]
            for j in range(len(a)):
                if large<a[j]:
                    large=a[j]
            sort_num.append(large)
            a.remove(large)
        return sort_num
    except Exception as e:
        print('Error msg: {}'.format(e))

In [27]:
lst=[5,21,54,1,-9,101,12,58,75,22]

In [28]:
n_large_num(lst,5)

[101, 75, 58, 54, 22]

### 7.	Write a Python program to print even numbers in a list?

In [31]:
def even_num(a):
    try:
        lst=[]
        for i in a:
            if i%2==0:
                lst.append(i)
        return lst
    except Exception as e:
        print('Error msg: {}'.format(e))

In [32]:
lst=[5,21,54,1,-9,101,12,58,75,22]

In [33]:
even_num(lst)

[54, 12, 58, 22]

### 8.	Write a Python program to print odd numbers in a List?

In [34]:
def odd_num(a):
    try:
        lst=[]
        for i in a:
            if i%2!=0:
                lst.append(i)
        return lst
    except Exception as e:
        print('Error msg: {}'.format(e))

In [35]:
lst=[5,21,54,1,-9,101,12,58,75,22]

In [36]:
odd_num(lst)

[5, 21, 1, -9, 101, 75]

### 9.	Write a Python program to Remove empty List from List?

In [37]:
def empty_list(a):
    try:
        for i in a:
            if len(i)==0:
                a.remove(i)
        return a
    except Exception as e:
        print('Error msg: {}'.format(e))

In [38]:
lst=[[1,2,3],[],['irfan','razi'],[1+2j, 5+5j, 'irfan'],[],[{'irfan':'razi','mahesh':'kumar'}]]

In [39]:
empty_list(lst)

[[1, 2, 3],
 ['irfan', 'razi'],
 [(1+2j), (5+5j), 'irfan'],
 [{'irfan': 'razi', 'mahesh': 'kumar'}]]

### 10.	Write a Python program to Cloning or Copying a list?

In [56]:
def copy_list(a):
    try:
        new_lst=[]
        for i in a:
            new_lst.append(i)
        return new_lst
    except Exception as e:
        print('Error msg: {}'.format(e))

In [57]:
lst=[[1,2,3],[],['irfan','razi'],[1+2j, 5+5j, 'irfan'],[],[{'irfan':'razi','mahesh':'kumar'}]]

In [58]:
new_list=copy_list(lst)

In [59]:
new_list

[[1, 2, 3],
 [],
 ['irfan', 'razi'],
 [(1+2j), (5+5j), 'irfan'],
 [],
 [{'irfan': 'razi', 'mahesh': 'kumar'}]]

### 11.	Write a Python program to Count occurrences of an element in a list?

In [76]:
def occur(a):
    try:
        elements=[]
        for i in a:
            elements.append(i)
        elements=set(elements)
        
        d={}
        for i in elements:
            d[i]=a.count(i)
        return d
    
    except Exception as e:
        print('Error msg: {}'.format(e))

In [77]:
lst=[5,21,54,1,5,11,12,11,21,22,22,'irfan','razi','irfan',1+2j]

In [78]:
occur(lst)

{1: 1,
 'irfan': 2,
 5: 2,
 'razi': 1,
 (1+2j): 1,
 11: 2,
 12: 1,
 21: 2,
 54: 1,
 22: 2}