### Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    try:
        n=str(num)
        lst=[]
        for i in n:
            lst.append(i)
        rev_lst=lst[::-1]
        if rev_lst==lst:
            return True
        else:
            return False
    except Exception as e:
        print("Error msg:",e)

In [2]:
is_symmetrical(7227) #➞ True

True

In [3]:
is_symmetrical(12567) #➞ False

False

In [4]:
is_symmetrical(44444444) #➞ True

True

In [5]:
is_symmetrical(9939) #➞ False

False

In [6]:
is_symmetrical(1112111) #➞ True

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [7]:
def multiply_nums(string):
    try:
        lst=string.split(',')
        mul=1
        for i in lst:
            mul*=int(i)
        return mul
    except Exception as e:
        print("Error msg:",e)

In [8]:
multiply_nums("2, 3") #➞ 6

6

In [9]:
multiply_nums("1, 2, 3, 4") #➞ 24

24

In [10]:
multiply_nums("54, 75, 453, 0") #➞ 0

0

In [11]:
multiply_nums("10, -2") #➞ -20

-20

### Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [21]:
def square_digits(num):
    try:
        string=str(num)
        lst=[]
        for i in string:
            lst.append(str((int(i))**2))
        new_string=''    
        for i in lst:
            new_string+=i
        return int(new_string)
    except Exception as e:
        print("Error msg:",e)

In [22]:
square_digits(9119) #➞ 811181

811181

In [23]:
square_digits(2483) #➞ 416649

416649

In [24]:
square_digits(3212) #➞ 9414

9414

### Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [35]:
def setify(lst):
    try:
        dct={}
        for i in lst:
            dct[i]=lst.count(i)
        
        new_lst=[]
        for i in dct.keys():
            new_lst.append(i)
        return sorted(new_lst)
    except Exception as e:
        print("Error msg:",e)

In [36]:
setify([1, 3, 3, 5, 5]) #➞ [1, 3, 5]

[1, 3, 5]

In [37]:
setify([4, 4, 4, 4]) #➞ [4]

[4]

In [38]:
setify([5, 7, 8, 9, 10, 15]) #➞ [5, 7, 8, 9, 10, 15]

[5, 7, 8, 9, 10, 15]

In [39]:
setify([3, 3, 3, 2, 1]) #➞ [1, 2, 3]

[1, 2, 3]

### Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [45]:
def mean(num):
    try:
        string=str(num)
        lst=[]
        for i in string:
            lst.append(int(i))
        return int(sum(lst)/len(lst))
    except Exception as e:
        print("Error msg:",e)

In [46]:
mean(42) #➞ 3

3

In [47]:
mean(12345) #➞ 3

3

In [48]:
mean(666) #➞ 6

6